<div class = "container">
  <h1 class="animate-fade-in -translate-y-3 text-balance bg-gradient-to-br from-white from-30% to-white/40 bg-clip-text py-6 text-lg font-medium leading-none tracking-tighter opacity-100 [--animation-delay:200ms] sm:text-5xl md:text-5xl lg:text-5xl dark:from-white dark:to-white/40 text-center">Floors<br class="hidden md:block"> </h1>
      @for(floor of floors; track floor.id){
        <div class="bg-gray-800 p-4 rounded-lg mb-4">
              <app-floor
              [floor]="floor"
              (select)="onSelectFloor($event)"
              [selected]="floor.id === selectedFloorId"
              />
        </div>
      }
  @if(selectedFloor){
    <app-rooms [floorId] = "selectedFloor.id" [floor] = "selectedFloor.floor"  />
} @else {
    <p id = "fallback">Select a floor to see the rooms</p>
}
</div>