  #fallback {
    font-weight: bold;
    font-size: 1.15rem;
    margin: 0;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    main {
      margin: 4rem auto;
      grid-template-columns: 1fr 3fr;
    }
  
    #floors {
      flex-direction: column;
    }
  
    #fallback {
      font-size: 1.5rem;
      text-align: left;
    }
  }
  